
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul{
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 20px;
    list-style: none;
}
.link{
    text-decoration: none;
    color: blue;
}